<main class="main-signin">

    <div>

        <h1>Sign In</h1>

        <form action='@Url.Action("guardarRegistro", "Account")' method="POST" enctype="multipart/form-data">
        
            <div>
            <label>Username</label>
            <input type="text" required name="username"/>
            </div>

            <div>
            <label>Password</label>
            <input type="password" required name="password"/>
            </div>

            <div>
            <label>Nombre</label>
            <input type="text" required name="nombre"/>
            </div>

            <div>
            <label>Apellido</label>
            <input type="text" required name="apellido"/>
            </div>

            <div>
            <label>Foto</label>
            <input type="file" required name="foto"/>
            </div>

            <input type="submit" value="Sign In"/>

        </form>
    </div>

</main>