USE [master]
GO
/****** Object:  Database [listaTareas]    Script Date: 21/8/2025 15:15:09 ******/
CREATE DATABASE [listaTareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'listaTareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\listaTareas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'listaTareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\listaTareas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [listaTareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [listaTareas]
GO
/****** Object:  User [alumno]    Script Date: 21/8/2025 15:15:09 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 21/8/2025 15:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NULL,
	[descripcion] [varchar](255) NULL,
	[fecha] [date] NOT NULL,
	[finalizada] [bit] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/8/2025 15:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[foto] [varchar](50) NOT NULL,
	[ultimoLogin] [date] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([ID], [titulo], [descripcion], [fecha], [finalizada], [IDUsuario]) VALUES (28, N'Actualizar perfil', N'Cambiar la foto de perfil y revisar datos personales', CAST(N'2025-08-08' AS Date), 0, 1)
INSERT [dbo].[Tareas] ([ID], [titulo], [descripcion], [fecha], [finalizada], [IDUsuario]) VALUES (29, N'Leer documentación', N'Revisar documentación sobre buenas prácticas en SQL', CAST(N'2025-08-06' AS Date), 1, 1)
INSERT [dbo].[Tareas] ([ID], [titulo], [descripcion], [fecha], [finalizada], [IDUsuario]) VALUES (30, N'Responder encuesta', N'Completar la encuesta de satisfacción del sistema de tareas', CAST(N'2025-08-09' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [username], [password], [nombre], [apellido], [foto], [ultimoLogin]) VALUES (1, N'Ilanchu', N'ilan08', N'Ilan', N'Bleicher', N'ilanFoto.jpg', CAST(N'2025-07-08' AS Date))
INSERT [dbo].[Usuarios] ([ID], [username], [password], [nombre], [apellido], [foto], [ultimoLogin]) VALUES (2, N'Felibeck', N'feli09', N'Felipe', N'Beckford', N'feliFoto.jpg', CAST(N'2025-04-06' AS Date))
INSERT [dbo].[Usuarios] ([ID], [username], [password], [nombre], [apellido], [foto], [ultimoLogin]) VALUES (3, N'LeoKristalGamer', N'leo02', N'Leonel', N'Kristal', N'leoFoto.jpg', CAST(N'2024-05-02' AS Date))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Usuarios]
GO
USE [master]
GO
